
section {
  /* border-bottom: 1px solid #EBEBEB !important; */
  border-top: 1px solid #EBEBEB !important;
}

body {
  background-color: #fff;
  width: 960px;
}

header>* {
  display: inline-block;
  font-family: 'Gloria Hallelujah', cursive;
  color: #2A3132;
}

#logo {
  color: #C05805;
}

h2 {
  margin-right: 10px;
}

nav {
  margin-left: 10px;
}

h2, h3, th {
  color: #2A3132;
}

p {
  font-family: 'Martel', serif;
  color: #484848;
}

p, label {
  color: #484848;
}

h2, h3, #tableData, table, fieldset, a {
  font-family: 'Open Sans Condensed', sans-serif;
}

table {
  text-align: left;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.3em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 0px;
}

fieldset>h3 {
  display: block;
    font-size: 19.2px;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
td {
  color: #767676;
}

fieldset>button {
  margin-top: 1.5em;
}

/* th {
  border-bottom: 1px solid #C05805;
} */

.bold {
  font-weight: bold;
}

.total {
  color: #C05805;
}

/* COLORS 
Shadow #2A3132
Autumn Foliage #763626

Crevice #46211A
Cloud Shadow #693D3D

Bronze #C05805
*/

table {
  float: left;
  width: 500px;
  font-size: 120%;
}

form {
  float: right;
  width: 300px;
}

input {
  float: right;
}

/* Fonts */
/* 
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Gloria Hallelujah', cursive;

font-family: 'Martel', serif;
*/
